name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

# ----------------LOGIN TO DOCKER ---------------------------
    - name: Login to Docker
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push to docker
      id: docker_build
      uses:  docker/build-push-action@v2.10.0
      with:
        context: Reap
        file: ./Dockerfile
        push: true
        tags: ashishsinghal780/reap-backend:latest
